body{
  background-color: #000000;
  color: #ffffff;
}
h1{
  text-align: center;
  font-variant:small-caps;
  font-size: xx-large;
  color: #ffffff;
}
nav{
  text-align:center;
  font-variant:small-caps;
  margin: 5px;

}
header{
    background-color:rgba(0,0,0,1);

}
footer{
  border-color: royalblue;
  text-align: center;
}
p{
    text-align: justify;
    text-align: center;
}
figure{
  display: inline-block;
}
h2 {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
}
#tharun{
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px ;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border: 2px solid rgb(240, 17, 17);
  background-color: rgba(255, 0, 0, 0.342);
}
img{
  height: 350px;
  width: 350px;
}
a:hover{
  background-color: #001aff;
}
