body{
  color: #fff;
  background-color: #000;
  margin: 1%;
  font-family: 'Balsamiq Sans', cursive;
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}
h1{
  display: inline-block;
  font-variant: small-caps;
  font-size: 80px;
  width: 80%;
  text-align: center;
  margin-left: 150px;
}
header nav{
  margin-left: 10%;
}
footer nav{
  margin-left: 10%;
}
header img{
  height: 50px;
  padding: 1%;
  padding-left: 5.5%;
  padding-right: 5.5%;
  border-radius: 25px;
  transition-property: background-color,padding-left,padding-right,border-radius,transform;
  transition-duration: .5s;
  margin: 0;
  margin-top: 20px;
}
footer img{
  height: 50px;
  padding: 1%;
  padding-left: 5.5%;
  padding-right: 5.5%;
  border-radius: 25px;
  transition-property: background-color,padding-left,padding-right,border-radius,transform;
  transition-duration: .5s;
  margin: 0;
}
header a:link ,nav a:visited{
  width: 162.63px;
  margin: 6px;
}
footer a:link ,nav a:visited{
  width: 162.63px;
  margin: 6px;
}
header img:hover{
  background: linear-gradient(rgb(4, 63, 151) 0%,rgb(0, 0, 0) 100%);
  padding-left: 6.5%;
  padding-right: 6.5%;
  border-radius: 25px;
  transform: translate(0,-10px);

}
footer img:hover{
  background: linear-gradient(rgb(4, 63, 151) 0%,rgb(0, 0, 0) 100%);
  padding-left: 6.5%;
  padding-right: 6.5%;
  border-radius: 25px;
  transform: translate(0,-10px);

}
a:link ,a:visited{
  text-decoration: none;
  color: rgb(255, 0, 0);
}
#tharunn{
  display: block;
  width: 15%;
  border: solid 10px rgb(0, 0, 0);
  border-radius: 25px;
  margin: 0 auto;
}
#intro{
  display:block;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 150px;
  margin: 0 auto;
}
#ad{
  display: inline-block;
  width: 15%;
}
#abs{
  display: block;
  text-align: center;
}
footer{
  margin-top: 15%;
}
p{
  text-align: justify;
  font-size: 25px;
}
p a{
  font-weight: bold;
}
.space{
    display: inline-block;
    position: fixed;
    background:url('https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket_big.png') no-repeat center 70px;

    width:200px;
    height: 200px;

    border-radius:3px;
    transition:background-position 1s;
}

.space:hover{
    background-position:35% 40px, top;
}
#hi{
  width: 100%;
}
