body {
    background-color: #e0fffe;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}
h1{
    color: #00e0ff;

}
h3{
    color: #00e0ff;
}
img{
    border-radius: 100px;
    width: 200px;
}
